<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <meta charset="utf-8">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>

    <div class = "navbar">
        <div> <img class = "navbar_logo" src="../images/img_logo.png"> </div>
        <div class = "logout">
            <button class="logoutBtn"> 로그아웃 </button>
        </div>
    </div>

    <div class = "totalBorder">
        <div class="orderListText"> 접수 현황 </div>
        <table>
            <colgroup>
                <col width= 80px />
                <col width= 160px />
                <col width= 320px />
                <col width= 320px />
                <col width= 160px />
                <col width= 160px />
                <col width= 100px/>
            </colgroup>
            <tr style="color: #7d7d7d;">
                <td style="text-align: center"> 주문번호 </td>
                <td> 고객명 </td>
                <td> 파일명 </td>
                <td> 옵션 </td>
                <td> 일시 </td>
                <td> 상태 </td>
                <td>  </td>
            </tr>
            <tr>
                <td style="text-align: center"> 4 </td>
                <td> 심다은 </td>
                <td> <a href="https://danibucket0731.s3.ap-northeast-2.amazonaws.com/Booster/KakaoTalk_Photo_2020-07-13-04-47-09.png"/>
                    넣어두세요.png </td>
                <td> 흑백/자동/단면/4개/4페이지/1부 </td>
                <td> 2020.07.08 16:20 </td>
                <td> 승인 필요 </td>
                <td> <button class = "stateBtn"> 승인 </button> </td>
            </tr>
            </thead>
            <tr>
                <td style="text-align: center"> 3 </td>
                <td> 심다은 </td>
                <td> <a href="https://danibucket0731.s3.ap-northeast-2.amazonaws.com/Booster/KakaoTalk_Photo_2020-07-13-04-47-09.png"/>
                    넣어두세요.png </td>
                <td> 흑백/자동/단면/4개/4페이지/1부 </td>
                <td> 2020.07.08 16:20 </td>
                <td> 승인 필요 </td>
                <td> <button class = "stateBtn"> 승인 </button> </td>
            </tr>
            <tr>
                <td style="text-align: center"> 2 </td>
                <td> 심다은 </td>
                <td> <a href="https://danibucket0731.s3.ap-northeast-2.amazonaws.com/Booster/KakaoTalk_Photo_2020-07-13-04-47-09.png"/>
                    넣어두세요.png </td>
                <td> 흑백/자동/단면/4개/4페이지/1부 </td>
                <td> 2020.07.08 16:20 </td>
                <td> 승인 필요 </td>
                <td> <button class = "stateBtn"> 승인 </button> </td>
            </tr>
            <tr>
                <td style="text-align: center"> 1 </td>
                <td> 심다은 </td>
                <td> <a href="https://danibucket0731.s3.ap-northeast-2.amazonaws.com/Booster/KakaoTalk_Photo_2020-07-13-04-47-09.png"/>
                    넣어두세요.png </td>
                <td> 흑백/자동/단면/4개/4페이지/1부 </td>
                <td> 2020.07.08 16:20 </td>
                <td> 승인 필요 </td>
                <td> <button class = "stateBtn"> 승인 </button> </td>
            </tr>
        </table>
    </div>
</body>
</html>