body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: NotoSans;
    src:url("../fonts/NotoSansRegular.ttf") format('truetype');
}

.navbar{
    height: 55px;
    background: #2645ff;
}

.navbar_logo{
    height: 35px;
    padding-left: 40px;
}

.logout{
    padding-right: 40px;
}

.logoutBtn{
    color: #ffffff;
    border: none;
    background-color: transparent;
}

.totalBorder{
    padding: 63px 40px 100px 40px;
    width: 100%;
    height: 700px;
}

.orderListText{
    margin-bottom: 20px;
    width: 140px;
    width: 120px;
    height: 39px;
    font-family: NotoSans;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #467fff;
}

.stateBtn{
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.tableHead{
    width: 24px;
    height: 17px;
    font-family: NotoSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
}