body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: NotoSans;
    src:url("../fonts/NotoSansRegular.ttf") format('truetype');
}

.navbar{
    height: 55px;
    background: #2645ff;
}

.navbar_logo{
    height: 35px;
    padding-left: 40px;
}

.logout{
    padding-right: 50px;
}

.logoutBtn{
    color: #ffffff;
    border: none;
    background-color: transparent;
}

.totalBorder{
    padding: 50px 40px 100px 40px;
    width: 100%;
}

.textAlign{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.helloStoreText{
    display: flex;
    align-items: center;
}

.storeText{
    font-size: 26px;
    font-weight: bold;
    font-family: NotoSans;
}

.helloText{
    /*display: flex;*/
    /*flex-direction: column;*/

    padding-left: 10px;
    width: 200px;
    height: 38px;
    font-family: NotoSans;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #131313;
}

.orderListText{
    padding-left: 15px;
    margin-top: 30px;
    height: 24px;
    font-family: NotoSans;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #467fff;
}

.stateBtn{
    padding-right: 20px;
    padding-left: 20px;
    width: 96px;
    height: 36px;
    border-radius: 6px;
    background-color: #467fff;
    border: none;
    color: #ffffff;
}

table{

}



td{
    border-bottom: solid 1px #d5d5d5;
    height: 70px;
    font-family: NotoSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    padding-right: 5px;
}